/*reset 重置*/
body,ul,ol,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,
td,th,button,strong,em,select,video,canvas{margin:0;padding:0;}
li{list-style:none;vertical-align:top;}
table{ border-collapse:collapse;}
textarea{resize:none;overflow:auto;}
img{ border:none; vertical-align:middle;}
em{ font-style:normal;}
a{ text-decoration:none;}
a,input{-webkit-appearance: none;appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input{border-radius: 0px;}
a, img {-webkit-touch-callout: none; }
html, body {-webkit-user-select: none;   user-select: none;}
/*html{font-size: 62.5%;}*/
/*public*/
html {font-size : 16px;}
@media only screen and (min-width: 375px){
    html {font-size: 20px !important;}
}
@media only screen and (min-width: 401px){
    html {font-size: 22px !important;}
}
@media only screen and (min-width: 428px){
	html {font-size: 26.75px !important;}
}
@media only screen and (min-width: 481px){
	html {font-size: 30px !important; }
}
@media only screen and (min-width: 569px){
	html {font-size: 35px !important; }
}
@media only screen and (min-width: 641px){
	html {font-size: 40px !important; }
}
body{font-family: "Helvetica Neue", Helvetica, "STHeiTi", sans-serif; overflow-x:hidden; overflow-y:auto; font-size:0.7rem; }
.clear{zoom:1;}
.clear:after{content:''; display:block; clear:both;}
.fl{float:left;}
.fr{float:right;}
.viewport{ max-width:640px; margin:0 auto; overflow-x:hidden;}
/*iconfont*/
@font-face {
  font-family: 'iconfonthym';  /* project id 232001 */
  src: url('//at.alicdn.com/t/font_n9qp5gcs0mtjra4i.eot');
  src: url('//at.alicdn.com/t/font_n9qp5gcs0mtjra4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_n9qp5gcs0mtjra4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_n9qp5gcs0mtjra4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_n9qp5gcs0mtjra4i.svg#iconfonthym') format('svg');
}
i.iconfonthym{
	font-family:"iconfonthym" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
	display: inline-block;
	width: 16px;
	height: 16px;
}